*{
    margin:0;
    padding:0;
}
.row{
    width:1200px;
    margin:0 auto;
    overflow: hidden;
}
.column{
    width:25%;
    height:200px;
    float:left;
}
.column1{
    background-color: red;
}
.column2{
    background-color: green;
}
.column3{
    background-color: blue;
}
.column4{
    background-color: yellow;
}
@media screen and (max-width:992px){
    .column{
        width:25%;
    }
}
@media screen and (max-width:768px){
    .column{
        width:50%;
    }
}
@media screen and (max-width:480px){
    .column{
        width:100%;
    }
}
